<!-- to import the partials from post-info.handlebar, like homepage -->
{{> post-info post}}
<!-- end -->

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">upvote</button>
  </div>
</form>
{{/if}}

<!-- to import the partials from comments.handlebar -->
{{> comments post.comments}}
<!-- end -->

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}